* {
    box-sizing: border-box;
    padding: 0;
}

html {
    padding: 10px;
    margin-right: 150px;
    margin-left: 150px;
}

:not(html)>header {
    margin-right: -150px;
    margin-left: -150px;
}

a {
    color: inherit;
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;

}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffffff;
    color: #e708b7;
    border-radius: 25px;
}

.divider {
    font-size: 50px;
    color: black;
}

.header1 {
    font-size: 45px;
    padding-top: 20px;
    padding-left: 15px;
}

.katie-picture {
    display: block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    flex: 0 0 300px;
    margin: 20px;
    border-radius: 50px;
    border: 10px solid white;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: black;
    padding-bottom: 10px;
}

.about-me {
    display: flex;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#about-me-word {
    margin-top: 15px;
    margin-bottom: 10px;
}

.header2 {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.info {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    margin-top: 20px;
    text-align: justify;
}

.work {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;

}

.my-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
    border-radius: 50px;
    border: 10px solid white;
    text-align: center;
}

#horiseon {
    text-align: center;
    justify-content: center;
}

.display {
    margin: auto;
    aspect-ratio: 8/12;
    width: 800px;
    flex-grow: 25px;
}

.card h1 {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #e708b7;
    border-radius: 15px;
}

.card p {
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card img {
    width: 100%;
}

footer {
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 15px;
}